/* variables */
:root {
  --blue: #2c7dfa;
  --blue-shade: #3685ff;
  --navy-dark: #1f314f;
  --grey: #7d889e;
  --grey-light: #d5e1ef;
  --font-family: "Outfit", sans-serif;
  --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* reset */
*::before,
*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* base */
:root {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 400;
  background-color: var(--grey-light);
  color: var(--grey);
}

/* global */
h1 {
  color: var(--navy-dark);
  font-size: 2.2rem;
  font-weight: 700;
  margin: 2rem auto;
}

/* styles */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 2rem;
  max-width: 320px;
  padding: 1.6rem;
  text-align: center;
  box-shadow: var(--shadow);
}

.card__thumb {
  border-radius: 1rem;
  height: auto;
  width: 100%;
}

.card__description {
  margin: 1.6rem 1.6rem;
}

.attribution {
  text-align: center;
  padding: 1rem;
}
